
<html lang="fr">
  <head>
   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Bibliothéque</title>


    <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/css/jquery.dataTables.min.css')}}" rel="stylesheet">


    <link href="{{asset('assets/css/style.css')}}" rel="stylesheet">
	

    
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img />EPI - Bibliothéque</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li class="active"><a href="#">Accueil</a></li>
            <li>
                                    <form class="navbar-form navbar-right" style="margin-right: 5px;">
					<div class="input-group">
					  <input type="text" class="form-control"  aria-describedby="basic-addon1">
					  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
					</div>
					
				  </form>
            </li>
            
            <li class="dropdown ">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><strong>{{ app.user ? app.user.username : 'Anonymous' }}</strong> <span class="caret"></span> </a>
              <ul class="dropdown-menu" role="menu">
                
				 <li>
                                     <a href="{{ path('_demo_logout') }}"> <span class="glyphicon glyphicon-log-out"></span> Déconnexion</a>
				
				</li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<br><br><br><br>
    <div class="container theme-showcase" role="main">
<div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li>
	       <a href="{{path('adherentlivreliste')}}">Livres</a>
	    </li>
            <li>
               <a href="{{path('adherentemprunterlivreliste')}}">Mes Livres <span class="badge">2</span></a>
	    </li>
            
            
            
          </ul>
          
        </div>
		<div class="col-sm-9 col-md-10">
		
                    <h1 class="text-danger">Bienvenue : <strong>{{ app.user ? app.user.username : 'Anonymous' }}</strong></h1>
                    <hr>
                    <h2 class="text-danger"><span class="glyphicon glyphicon-book"></span> Espace Bibliothèque</h2>
                    <hr>
                    <div class="col-md-12 text-center">
                      <img src="{{asset('assets/images/logo.png')}}" class="img-responsive" style="margin-bottom: 20px"/>   
                    </div>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		</div>
</div>




     
				
				


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{asset('assets/js/jquery.min.js')}}"></script>
    <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
<script src="{{asset('assets/js/jquery.dataTables.min.js')}}"></script>      
<script>
    
    
    $('document').ready(function(){
            
         $('dtable').DataTable();   
            
    });
    
    
</script> 
  </body>
</html>{# empty Twig template #}
